*
*::before
*::after {
    box-sizing: border-box;
}

.navBar{
  display: flex;
  justify-content: space-around;
  margin-left: 3em;
  margin-right: 3em;
  gap: 3em;
  align-items: center;
  text-decoration: none;
}
.searcher{
  border-radius: 16px;
}

.searcherBtn{
  border-radius: 16px;
  cursor: pointer;
}

.logSign{
  border-radius: 16px;
  min-width: 5em;
  cursor: pointer;
  transition: 0.5sec ease;
}

.logSign:hover{
  transform: scale(0.9);
}

.signCard{
  align-self: center ;
  align-content: center ;
  margin: auto;
  width: 600px;
  height: 600px;;
  border-radius: 64px;
  border: solid;
}

.signUp{
  display: flex;
  justify-content: center;
  margin: 3em;
}

.signForm{
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 0px;
  gap: 1em;
  max-width: 450px;
}

.theme{
  background-color: #ffffff;
} 
.catalog{
  display: flex;
  flex-flow: wrap;
  margin: 2em;
  justify-content: space-around;
  gap: 2em
}

.cBox{
  display: flex;
  flex-direction: column;
  width: 200px;
}

.cImg, .cLink{
  display: flex;
  justify-content: center;
  width: 200px;
}

.cName{
  display: flex;
  justify-content: center;
  width: 200px
}


.mCard{
  display: flex;
  align-items: center;
}

.mTxt{
  display: flex;
  flex-direction: column;
  gap: 2em;
} 