@import "tailwindcss";

@theme{
  --color-primary: #EC4441
}

@theme{
  --color-primaryAlt: #F06D6A
}

@theme{
  --color-secondary: #4194EC
}

@theme{
  --color-secondaryAlt: #6AABF0
}

@theme{
  --color-thirdary: #41EC99
}

@theme{
  --color-thirdaryAlt: #6AF0B0
}

@custom-variant dark (&:where(.dark, .dark *))

